
.text_buttom_red {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 12.2082px;
    line-height: 20px;
    color: #EF3340;
}

.title_card {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 15.2082px;
    line-height: 20px;
    color: black;
}

.badge_position {
    // display: flex;
    // align-items:end;
}