
  
  .egress_title {
    font-weight: 700;
    font-size: 25px;
  }

  .egress_color {
    color: #f44236;
    font-weight: 500;
  }

  .border_card_egress {
    border-color: #f44236;
  }
  .ingress_color {
    color: #007bff ;
    font-weight: 500;
  }

  .positive_ingress_color {
    color: #00b347;
    font-weight: 500;
  }

  .ingress_title {
    font-weight: 700;
    font-size: 25px;
  }

  
  